@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Timeline {
    <div id="manage">
        <h2>Manage your account</h2>

        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="text-center">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-sm-offset-3 col-sm-6 text-center">
                @RenderBody()
            </div>
        </div>
    </div>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}