@model TweetViewModel

<blockquote class="twitter-tweet align-left">
    <div class="container">
        <img class="avatar" src="@Model.TwitterUserProfileImageUrl" />
        <div class="content col-sm-offset-1">
            <div class="name">@Model.TwitterUserName</div>
            </div>
            <div class="text">
                <p>@Model.Text</p>
            </div>
        </div>

</blockquote>