<div class="users">
    <p>@ViewData["activeUsers"]</p>
</div>

<!-- <div class="tweets">
    <p>@ViewData["allTweets"]</p>
</div>

<div class="deleted-tweets">
    <p>@ViewData["deletedTweets"]</p>
</div> -->