@using RTWTR.MVC.Models
@model TwitterUserViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName}";
}

@section Timeline {
    <div class="container">
        <br />
        <div>
            <a asp-area="" asp-action="ShowUser" asp-route-screenName="@Model.ScreenName" class="right">
                @await Html.PartialAsync("_AddUserToFavouritesPartial")
            </a>

            <button>View Timeline</button>
        </div>
    </div>
}

@section Scripts {
    <!-- TODO: Make async and use AJAX -->
    @await Html.PartialAsync("_AjaxSave")
}