@using RTWTR.MVC.Models
@model TwitterUserViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName.Replace("_normal", "")}";
}

@section Timeline {
    <div class="container">
        <br />
        <div>
            @await Html.PartialAsync("_AddUserToFavouritesPartial")
        </div>
    </div>
}

@section Scripts {
    <!-- TODO: Make async and use AJAX -->
    @await Html.PartialAsync("_Ajax")
}