@model FavouriteUsersViewModel

@section Timeline {
    <h3>User Favourites:</h3>

    <div class="user-favourites">
        @foreach (var user in @Model.TwitterUsers)
        {
        <div>
            @Html.Partial("_User", user)
        </div>
            <br />
            <br />
            <br />
            <br />
        }
    </div>
}