@using RTWTR.MVC.Models
@model TwitterUserViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName}";
}

@section Timeline {
    <div class="container">
        <br />
        <div>


            <div class="right">
                @await Html.PartialAsync("_User")
            </div>
            
            @await Html.PartialAsync("_AddUserToFavouritesPartial")
        </div>

        <a class="twitter-timeline" href="@url" data-tweet-limit="20"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
}