@model FavouriteUsersViewModel

@section Timeline {
    <h3>User Favourites:</h3>
    @if (Model.TwitterUsers.Count == 0)
    {
        <h3>No favourite users</h3>
    }
    else
    {
        <div class="user-favourites">
            @foreach (var user in @Model.TwitterUsers)
            {
                <div>
                    @Html.Partial("_User", user)
                </div>
                <br />
                <br />
                <br />
                <br />
            }
        </div>
    }
    
}