@model FavouriteUsersViewModel

@section Timeline {
    <h3>User Favourites:</h3>

    <div class="user-favourites">
        @foreach (var user in @Model.TwitterUsers)
        {
            <a asp-controller="Users" asp-action="ShowUser" asp-route-screenName="@user.ScreenName">
                <p>@user.ScreenName</p>
                <img src="@user.ProfileImageUrl"></img>
            </a>
            <br />
            <br />
            <br />
            <br />
        }
    </div>
}