@using RTWTR.MVC.Models
@model TwitterUserViewModel

@{
    var url = $"https://twitter.com/{Model.ScreenName}";
}



@section Timeline {
    <div class="container">
        <br />
        <div>


            <a asp-action="ShowUser" asp-route-screenName="@Model.ScreenName" class="right">
                @await Html.PartialAsync("_User")
            </a>
            
            <button id="save-twitter-btn" class="btn btn-primary left" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Add to Favourites</button>

        </div>
    </div>
}