<script>
    $(".ajax-call").on("submit", function (event) {
        event.preventDefault();

        var $this = $(this);


        var frmValues = $this.serialize();
        $.ajax({
            type: $this.attr("method"),
            url: $this.attr("action"),
            data: frmValues
        })
        .done(function () {
            if ($this.hasClass("ajax-remove")) {
                $this.html(`<button class="btn btn-primary disabled" type="submit">Removed from Favourites</button>`);
            } else {
                $this.html(`<button class="btn btn-primary disabled" type="submit">Added to Favourites</button>`);                
            }
        })
        .fail(function () {
            if ($this.hasClass("ajax-remove")) {
                $this.html(`<button class="btn btn-primary disabled" type="submit">Removed from Favourites</button>`);
            } else {
                $this.html(`<button class="btn btn-primary disabled" type="submit">Added to Favourites</button>`);                
            }
        });
    });
</script>