@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

<form class="form-signin text-danger"
    asp-controller="Account"
    asp-action="Login"
    asp-route-returnurl="@ViewData["ReturnUrl"]" 
    asp-validation-summary="All" method="POST">
    <h2 class="form-signin-heading css-label indent">Please sign in</h2>

    <div asp-validation-summary="All" class="text-danger validation"></div>

    <div class="email">
        <input asp-for="Email" class="form-control" placeholder="Email Address">
        <!-- <span asp-validation-for="Email" class="text-danger"></span> -->
    </div>

    <div class="password">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <!-- <span asp-validation-for="Password" class="text-danger"></span> -->
    </div>

    <div class="checkbox indent">
        <label class="css-label" asp-for="RememberMe">
            <input asp-for="RememberMe"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-block btn-login" 
        type="submit">Log in</button>
</form>

<form class="form-signin text-danger"
    asp-controller="Account"
    asp-action="ExternalLogin"
    asp-route-returnurl="@ViewData["ReturnUrl"]" 
    asp-validation-summary="All" method="POST">
    <button class="btn btn-lg btn-block btn-twitter" 
        name="provider"
        value="Twitter"
        type="submit">Log in with Twitter</button>
</form>