@using Microsoft.AspNetCore.Identity
<div>
    <ul class="list-unstyled" id="ul_footer">
        @if (User.IsInRole("Administrator"))
        {
            <li><a asp-area="Administration">Administration</a></li>
        }
        <li><a class="Footer-link" asp-controller="Users" asp-action="ShowUserFavourites" rel="noopener">Favourite Users</a></li>
        <li><a class="Footer-link" asp-controller="Tweets" asp-action="ShowUserFavouriteTweets" rel="noopener">Favourite Tweets</a></li>
        <li><a class="Footer-link" href="@Url.Action("Index", "Manage")" rel="noopener">Settings</a></li>
        <li>
            <form asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn-link">Log out</button>
            </form>
        </li>
    </ul>
</div>