<div>
    <ul class="list-unstyled" id="ul_footer">
        <li class=""><a class="Footer-link" href="@Url.Action("Index", "Users")" rel="noopener">Favourites</a></li>
        <li class=""><a class="Footer-link" href="@Url.Action("Index", "Users")" rel="noopener">Tweets</a></li>
        <li class=""><a class="Footer-link" href=@Url.Action("Index", "Manage")" rel="noopener">Settings</a></li>
        <li class=""><a class="Footer-link" href="@Url.Action("Login","Account")" rel="noopener">Logout</a></li>

    </ul>
</div>