<div class="container">

    <div class="row">
        Do you want to save a tweet but cannot find it, just enter the tweet's url below
        <p></p>

    </div>
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" name="tweetUrl" placeholder="Search for Tweet">
            <span class="input-group-btn">
                <a data-toggle="modal" title="url" class="btn btn-primary" type="button">Go!</a>
            </span>
        </div>
    </div>
    
    
</div>


@*TODO:Add modal to display the found tweet or error message*@



<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
