<div class="container">

    <div class="row">
        Do you want to save a tweet but cannot find it, just enter the tweet's url below
        <p></p>

    </div>
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" name="tweetUrl" placeholder="Search for Tweet">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>