html,
body {
    padding: 0;
    margin: 0;
}

.info {
    background: #1da1f2;
    height: 100vh;
}

.login {
    background: #1b2836;
    height: 100vh;
}

@media screen and (max-width: 990px) {
    .info {
        height: 50vh;
    }

    .login {
        height: 50vh;
    }
}