#logo {
    height: 35px;
    width: 80px;
    position: absolute;
    top: 20px;
}

.container {
    width: auto;
}

.nav-pills > li.active > a {
    background-color: #1da1f2;
}

#manage {
    margin: 50px;
}

#ul_footer {
    width: auto;
}

#container-main {
    margin-top: 70px;
}

.fixed {
    position: fixed;
}

.input-group {
    margin: 10px;
}

.offset-cst-left {
    margin-left: 80px;
}

@media (max-width: 1010px) {
    .offset-cst-left {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    #logo {
        top: 15px;
        left: 15px;
    }

    .container {
        width: auto;
    }
}