#logo {
    height: 35px;
    width: 80px;
    position: absolute;
    top: 8px;
}

.container {
    width: auto;
}

.nav-pills > li.active > a {
    background-color: #1da1f2;
}

#manage {
    margin: 50px;
}

#ul_footer {
    width: auto;
}

/*#page {
    background: #e6ecf0;
}*/

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}