html,
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#logo {
    height: 35px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.tweet-view {
    margin-top: 20px;
}

.img-circle {
    width: 80px;
    margin-left: 15px;
}

.container {
    width: auto;
}

.nav-pills>li.active>a {
    background-color: #1da1f2;
}

#manage {
    margin: 70px;
}

#ul_footer {
    width: auto;
}

#container-main {
    margin-top: 70px;
}

.fixed {
    position: fixed;
}

.input-group {
    margin: 10px;
}

.offset-cst-left {
    margin-left: 80px;
}

.btn-cst-add {
    text-align: center;
    margin-top: 10px;
}

.hidden-cst {
    display: none;
}

.favourite {
    margin-bottom: 50px;
}

form#ajax-call {
    margin-top: 15px;
}

@media (max-width: 1010px) {
    .offset-cst-left {
        margin-left: 50px;
    }
    #timeline {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #logo {
        top: 15px;
        left: 55px;
    }
    .container {
        width: auto;
        text-align: center;
    }
    .fixed {
        position: relative;
        text-align: center;
    }
    .ajax-call {
        margin-top: 15px;
    }
}

.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

.avatar {
    margin-top: 10px;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}